@media screen and (min-width: 441px){   
    .main-temples{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }    

    
}

@media screen and (min-width: 750px){   
    .main-temples{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }   
    
    #menu {
		display: none; /* hide hamburger button */
	}

    nav {
        display: flex;
        justify-content: end;
        margin: 0;
        width: 100%;
        font-weight: bold;
    }

    .navigation {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .navigation li {
        flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
    }

    .navigation a {
        display: block;
        color: #eee;
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
    }
}

